/* wrapper div that holds all of the content divs for the page */
.wrap{
	text-align:center; 
	width:90%; 
	margin:0 auto;
	border:2px solid black;
	margin-top:25px;
}

/* formats the page header */
.header{
	text-align:left;
	padding:25px;
}
.headerImg{
	float:left;
	width:200px;
}
.headerText{
	float:left;
	height:105px;
	padding-top:50px;
	padding-left:25px;
}

/* formats the navigation bar*/
/* http://css.maxdesign.com.au/listamatic/horizontal19.htm   Author: Seth Gunderson*/
#navcontainer
{
margin-left: auto;
margin-right: auto;
margin-bottom: 40px;
border-top: 1px solid #999;
z-index: 1;
}

#navcontainer ul
{
list-style-type: none;
text-align: center;
margin-top: -8px;
padding: 0;
position: relative;
z-index: 2;
}

#navcontainer li
{
display: inline;
text-align: center;
margin: 0 5px;
}

#navcontainer li a
{
padding: 1px 7px;
color: #666;
background-color: #fff;
border: 1px solid #ccc;
text-decoration: none;
}

#navcontainer li a:hover
{
color: #000;
border: 1px solid #666;
border-top: 2px solid #666;
border-bottom: 2px solid #666;
}

#navcontainer li a#current
{
color: #000;
border: 1px solid #666;
border-top: 2px solid #666;
border-bottom: 2px solid #666;
}

/* formats main page content */	
.main{
	text-align:left;
	padding:25px;
}

/* formats the page footer */
.footer{
	text-align:center;
	padding:25px;
}