/* color scheme
#D2B48C (tan) 
#F08080 (coral) 
#FFFFFF (white) 
#FFFF99 (yellow)
#696969 (silver) 
*/
body{background-color:#D2B48C;}
h1{
    font-family: Helvetica;
    color: #FFFF99;
    text-align: center;
}
#family{
    border-collapse: collapse;
    width:75%;
    background-color: #FFFFFF;
    margin-right: auto;
    margin-left: auto;
}
#family th, #family td{
    border-bottom: 1px solid #696969;
    padding: 8px;
}
#family tr:nth-child(even){
    background-color: #F2F2F2;
}
#family tr:hover{
    background-color: #CCCCCC;
}
#family th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #FFFF99;
    color: #F08080;
}
#family td{color: #696969;}
.delete{
    color: #F08080;
    text-decoration: none;
}
.delete:hover{text-decoration: underline;}
.addForm{
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background: #FFFFFF;
    color:#696969;
}
.addForm h1{
    background: #FFFF99;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #F08080;
    margin: -16px -16px 16px -16px;
}
.addForm input[type="text"]{
    outline: none;
    box-sizing: border-box;
    width: 100%;
    background: #FFFFFF;
    margin-bottom: 4%;
    border: 1px solid #696969;
    padding: 3%;
    color: #696969;
    font: 95% Arial, Helvetica, sans-serif;
}
.addForm input[type="text"]:focus{
    box-shadow: 0 0 5px #F08080;
    padding: 3%;
    border: 1px solid #F08080;
}
.addForm input[type="submit"]{
    padding: 16px;
    border-radius: 8px;
    border: 2px solid #FFFF99;
    background-color: #FFFF99;
    color: #F08080;
}
.link{
    color: #FFFFFF;
    text-decoration: none;
}
input[readonly]{background-color:#CCCCCC; }