/* color scheme
#D2B48C (tan) 
#F08080 (coral) 
#FFFFFF (white) 
#FFFF99 (yellow)
#696969 (silver) 
*/
body{background-color:#D2B48C;}
h1{
    font-family: Helvetica;
    color: #FFFF99;
    text-align: center;
}
#family{
    border-collapse: collapse;
    width:75%;
    background-color: #FFFFFF;
    margin-right: auto;
    margin-left: auto;
}
#family th, #family td{
    border-bottom: 1px solid #696969;
    padding: 8px;
}
#family tr:nth-child(even){
    background-color: #F2F2F2;
}
#family tr:hover{
    background-color: #CCCCCC;
}
#family th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #FFFF99;
    color: #F08080;
}
#family td{color: #696969;}
.delete{
    color: #F08080;
    text-decoration: none;
}
.delete:hover{text-decoration: underline;}